@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject Shop.Services.DatabaseService databaseService
@inject Shop.Data.AppDbContext context;
@inject Shop.Services.UrlService urlService
@{
    float sum = 0;
    int counter = 0;
    urlService.SetPreviousUrl();
}
<h1 class="display-5">Your cart: </h1>
<hr />
<br />
@if(Model.Count == 0)
{
    <h1 class="text-muted">Your cart is empty</h1>
}
else{
    <div class="cart-item-block">
        <ul>
        @foreach(var cartItem in Model){
            Product product = databaseService.GetProduct(cartItem.ProductId);
            var categoryName = context.Categories.FirstOrDefault(x => x.Id == product.ProductCategoryId)?.Name;
                string photoFolderName = String.Empty;
                if(categoryName == "Monitors")
                    photoFolderName = "monitorsImages";
                if(categoryName == "Smartphones")
                    photoFolderName = "smartphonesImages";

                <li class="cart-item-block-li">
                <div class="cart-item-photo-block"><img class="cart-item-img" src="~/img/@photoFolderName/@cartItem.Photo"></div>
                <h2 class="cart-item-name">@cartItem.Name <span class="text-muted" style="font-size: 17px; font-weight: 400;"> - @categoryName</span></h2>
                <p class="cart-item-price">Price: @(cartItem.Price)$</p>
                <ul class="cart-amount-bar">
                    <a asp-controller="Cart" id="cart-minus-btn-link-@counter" asp-action="SubstractCartProduct" asp-route-id="@cartItem.Id" >
                        <li id="cart-minus-btn-@counter" class="btn btn-dark">-</li>
                    </a>
                    <li id="cart-quantity-@counter" value="@cartItem.Quantity">@cartItem.Quantity</li>
                    <a asp-controller="Cart" id="cart-plus-btn-link-@counter" asp-action="AddCartProduct" asp-route-id="@cartItem.Id">
                        <li id="cart-plus-btn-@counter" class="btn btn-dark">+</li>
                    </a>
                </ul>
                <a asp-controller="Cart" asp-action="Delete" asp-route-id="@cartItem.Id"><button class="btn btn-danger cart-delete-item-btn"><i class="bi bi-trash-fill"></i></button></a>
            </li> 
            <script>
                var cartPlusBtn_@counter = document.getElementById("cart-plus-btn-@counter");
                var cartPlusBtnLink_@counter = document.getElementById("cart-plus-btn-link-@counter");
                var cartQuantity_@counter = document.getElementById("cart-quantity-@counter");
                var cartMinusBtn_@counter = document.getElementById("cart-minus-btn-@counter");
                var cartMinusBtnLink_@counter = document.getElementById("cart-minus-btn-link-@counter");

                if (cartQuantity_@counter .value == 1) {
                    cartMinusBtn_@counter .classList.add("disabled");
                    cartMinusBtnLink_@counter .style.pointerEvents = "none";
                }
                if (cartQuantity_@counter .value == @product.Stock) {
                    cartPlusBtn_@counter .classList.add("disabled");
                    cartPlusBtnLink_@counter .style.pointerEvents = "none";
                }

                </script>
                sum += cartItem.Price * cartItem.Quantity;
                counter++;
            }
        </ul>
        <h4 class="total-sum">Total: @(Math.Round(sum, 2))$</h4>
        <a asp-controller="Order" asp-action="Index"><input type="button" class="btn btn-dark go-to-order-btn" value="Go to order >>"/></a>
    </div>
}