@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Security.Claims;
@inject Shop.Data.AppDbContext context
@inject IConfiguration config
@inject Shop.Services.UrlService urlService
@{
    var products = context.Products.Where(x => x.Creator == User.FindFirstValue(ClaimTypes.NameIdentifier)).ToList();
    urlService.SetPreviousUrl();
}
<h1>My Profile</h1>
<hr />
<br />
<div style="width: 300px;"><a asp-controller="Settings" asp-action="ChangeProfileImage" style="text-decoration: none;">
    <img src="~/img/userImages/@Model.UserPhoto" class="user-photo-profile"/>
    <div class="photo-profile-darker"><div>Change photo</div></div>
</a></div>
<h3 class="user-name-profile">@Model.Name</h3><br />
<span class="user-email-profile">@Model.Email</span>
<a asp-controller="Settings" asp-action="Index"><input type="button" value="Go to settings" class="btn btn-dark go-to-settings-btn"/></a>
<br />
<br />
<br />
<br />
<h2>My products</h2>
<a asp-controller="Home" asp-action="AddProduct"><button class="btn btn-dark my-products-add-product-btn">Add Product</button></a>
<hr />
@if(products.Count == 0)
{
    <h4 class="text-muted">You don't have any products</h4>
}
@for(int i = 0; i < products.Count; i++){
    
    string? categoryName = context.Categories.FirstOrDefault(x => x.Id == products[i].ProductCategoryId)?.Name;
    string photoFolderName = String.Empty;
    if (categoryName == "Monitors")
        photoFolderName = "monitorsImages";
    if (categoryName == "Smartphones")
        photoFolderName = "smartphonesImages";
    <div class="my-product-block">
        <div class="my-product-photo-block"><img src="~/img/@photoFolderName/@products[i].ProductPhoto" class="my-product-photo"/></div>
        <span><strong class="my-product-name">@products[i].ProductName <span class="text-muted my-product-category"> - @categoryName</span></strong><span class="text-muted my-product-category-mobile">@categoryName</span></span>
        <p class="my-product-price">Price: @(products[i].ProductPrice)$</p>
        <a asp-controller="@categoryName" asp-action="Details" asp-route-id="@products[i].ProductNativeId" class="my-product-see-more">See more</a>
        <div class="my-product-buttons">
            <a asp-controller="@categoryName" asp-action="Edit" asp-route-id="@products[i].ProductNativeId"><input type="button" class="btn btn-warning my-product-edit-btn" value="Edit"/></a>
            <a asp-controller="@categoryName" asp-action="Delete" asp-route-id="@products[i].ProductNativeId"><input value="Delete" class="btn btn-danger my-product-delete-btn" type="button"/></a>
        </div>
    </div>
}
