@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Shop.ViewModels.OrderViewModel
@inject Shop.Data.AppDbContext context
@{
    var deliveryMethods = context.DeliveryMethods;
    var paymentMethods = context.PaymentMethods;
}
<h1>Order</h1>
<hr />
<br />
<form asp-action="Index" id="order-form">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" id="order-first-name"/>
        <small id="order-first-name-error"></small>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" id="order-last-name"/>
        <small id="order-last-name-error"></small>
    </div>
    <br />
    <div class="form-group">
        <label>Country</label>
        <input value="Poland" disabled class="form-control"/>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" id="order-city"/>
        <small id="order-city-error"></small>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" id="order-address"/>
        <small id="order-address-error"></small>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="PostCode"></label>
        <input asp-for="PostCode" class="form-control" placeholder="00-000" id="order-post-code"/>
        <small id="order-post-code-error"></small>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" id="order-email"/>
        <small id="order-email-error"></small>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" id="order-phone"/>
        <small id="order-phone-error"></small>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="DeliveryMethod"></label>
        <select asp-for="DeliveryMethod" class="form-control" id="delivery-method">
            <option value="" selected disabled>SELECT</option>
            @foreach(var deliveryMethod in deliveryMethods)
            {
                <option value="@deliveryMethod.Name">@deliveryMethod.Name - @deliveryMethod.Price$</option>
            }
        </select>
        <small id="delivery-method-error"></small>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="PaymentMethod"></label>
        <select asp-for="PaymentMethod" class="form-control" id="payment-method">
            <option value="" selected disabled>SELECT</option>
            @foreach(var paymentMethod in paymentMethods)
            {
                <option value="@paymentMethod.Name">@paymentMethod.Name - @paymentMethod.Price$</option>
            }
        </select>
        <small id="payment-method-error"></small>
    </div>
    <br />
    <br />
    <a asp-controller="Cart" asp-action="Index" ><input class="btn btn-dark order-back-btn" type="button" value="<< Back"/></a>
    <input class="btn btn-dark go-to-delivery-btn" type="submit" value="Go to payment >>"/>
</form>
<script src="~/js/orderFormValidation.js"></script>
